{
  "qq": 1,
  "password": "1",
  "useAllGroupIds": [
    1,
    1,
    1,
    1,
    1,
    1
  ],
  "deepseek": {
    "url": "url",
    "apiKey": "1111"
  },
  "openAI": {
    "url": "url",
    "apiKey": "1111"
  }
}